<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户协议</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <style>
        a {
            text-decoration: none;
        }

        body {
            line-height: 1.9;
            margin: 4px 0px;
            color: #646464;
            padding:5px;
        }

        .strong {
            color: #323232;
            font-weight: bold;
            font-size: 16px;
            margin: 0;
        }

        .red {
            color: red;
        }

        #title {
            margin: 0px auto;
            height: auto;
            text-align: center;
        }

        .end {
            display: block;
            float: right;
            font-size: 14px;
            color: #607EF0;
        }

        span {
            font-size: 14px;
        }
    </style>
</head>

<body>
<div>
    <h2 style="text-align:center;color: #323232;">大头蒜软件用户注册协议</h2>
    本用户注册协议是您与大头蒜软件（以下简称“大头蒜”）的所有者成都易家互动信息技术有限公司（以下简称“易家互动”）及其关联公司之间就大头蒜提供的信息服务等相关事宜所订立的合约或合同。<br>
    请您仔细阅读本条款，您必须确认所有服务条款并完成注册程序，才能成为大头蒜的正式用户，本用户注册协议即构成了对双方具有法律约束力的文件。<br>
    <br>
    <h3 class="strong">一、大头蒜版权声明</h3>
    1.1 大头蒜(<a href="http://www.i-jia.net/">www.i-jia.net</a>、以及易家互动的其它网站)上刊载的所有内容，包括但不限于文字报导、图片、声音、录像、图表、标志、标识、广告、商标、商号、域名、软件、程序、版面设计、专栏目录与名称、内容分类标准以及为注册用户提供的任何或所有信息，均受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》及适用之国际公约中有关著作权、商标权、专利权及其它财产所有权法律的保护，为易家互动及其相关权利人专属所有或持有。
    使用者将大头蒜提供的内容与服务用于非商业用途、非盈利、非广告目的而纯属个人使用时，应遵守著作权法以及其它相关法律的规定，不得侵犯易家互动及其相关权利人的合法权益。<br>
    1.2
    使用者将大头蒜提供的内容与服务用于商业、盈利、广告性目的时，需征得易家互动及其相关权利人的书面特别授权，注明作者及文章出处“易家互动/大头蒜”，并按有关国际公约和中华人民共和国法律的有关规定向相关权利人支付费用，否则我们将保留追究有关人员的侵权责任。
    未经易家互动的明确书面特别授权，任何人不得变更、发行、播送、转载、复制、重制、改动、散布、表演、展示或利用大头蒜的局部或全部的内容或服务或在非大头蒜所属的服务器上作镜像，否则以侵权论，依法追究法律责任。大头蒜归属易家互动其及软件提供商所有，受《中华人民共和国著作权法》及国际版权公约法律保护。除经本软件特别说明用作销售或免费下载、使用等目的外，任何其它用途包括但不限于复制、修改、经销、转储、发表、展示、演示以及反向工程均在严格禁止之列，任何单位和个人非法使用均构成对本公司及本软件的侵权。<br>
    <br>
    <h3 class="strong">二、大头蒜定义</h3>
    2.1 大头蒜，为一款提供商品、订单等信息维护、管理的软件，为软件注册用户（信息提供方和接收方）免费提供信息管理服务，为用户发布和搜索相应信息提供便利与支持。<br>
    2.2 用户，包含注册用户和非注册用户。注册用户是指通过大头蒜移动端APP完成全部注册程序后，使用大头蒜服务的用户。非注册用户是指未进行注册、直接登录大头蒜移动端APP使用大头蒜服务的用户。<br>
    2.3 信息发布方，是指在大头蒜上创建、发布信息的注册用户。信息接受方，是指在大头蒜上浏览、搜索已发布信息的注册用户。<br>
    <br>
    <h3 class="strong">三、用户注册协议的效力</h3>
    3.1
    在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其它易家互动允许的方式实际使用大头蒜服务时，您即受本协议的约束。在注册时，您应当按照法律法规要求，或注册页面的提示，准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址等联系方式，以便大头蒜或其它注册用户与您进行有效联系。如您的资料发生变更，您应及时更新您的资料，以使之真实、及时，完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，易家互动有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部服务。由此导致您在使用大头蒜过程中产生任何损失或增加费用的，应由您完全独自承担。<br>
    3.2 对于您提供的资料及数据信息，您授予大头蒜以及易家互动独家的、全球通用的、永久的、免费的许可使用权利。您同意，大头蒜及易家互动有权(全部或部分地)
    使用、复制、更正、发布、翻译、分发、执行和展示您的资料数据（包括但不限于注册资料、行为数据及全部展示于大头蒜的各类信息）或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。<br>
    在此，您特别做出授权，允许大头蒜及易家互动依据您提供的信息资料及在大头蒜上的行为、投诉及侵权状况等进行信用评级，您对大头蒜的信用评级体系予以认可并同意大头蒜将您在软件上存储的全部或部分信息及信用评价结果以有偿或无偿方式提供给第三方进行商业或非商业方式的使用，而无需在提供该行为之前再另行取得您的同意。如您不同意做出前述授权，您应立即停止注册程序或停止使用大头蒜。如您继续使用大头蒜的，即表示您同意做出前述授权。<br>
    3.3 您应当在使用大头蒜之前认真阅读全部协议内容。如您对协议有任何疑问的，应向易家互动（<a href="tel:028-85800548">028-85800548</a>、 <a
        href="mailto:dts@i-jia.net">dts@i-jia.net</a>）咨询。但无论您事实上是否在使用大头蒜之前认真阅读了本协议内容，只要您使用大头蒜，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得易家互动对您问询的解答等理由，主张本协议无效，或要求撤销本协议。<br>
    3.4 本协议内容包括协议正文及所有大头蒜已经发布的或将来可能发布的<br>
    各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何易家互动及其关联公司提供的服务均受本协议约束。您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用大头蒜。<br>
    3.5 易家互动有权根据国家法律法规的更新、产品和服务规则的调整需要不时地制订、修改本协议及/或各类规则，并以在大头蒜上公示的方式进行公示。如您继续使用大头蒜的，即表示您接受经修订的协议和规则。<br>
    <br>
    <h3 class="strong">四、服务约定</h3>
    4.1 大头蒜运用自己的软件通过国际互联网络为用户提供网络服务。由于服务版块和内容的不同，要求用户必须：<br>
    4.1.1 自行配备使用软件所需设备，包括移动终端、个人电脑、调制解调器或其它必备上网装置；<br>
    4.1.2 自行负担个人上网所支付的与此服务有关的电话费用、网络费用；<br>
    4.1.3 提供详尽、准确的个人资料；<br>
    4.1.4 不断更新注册资料，符合及时、详尽、准确的要求。如果用户提供的资料包含有不正确的信息，易家互动保留结束用户使用网络服务资格的权利。<br>
    <br>
    <h3 class="strong">五、大头蒜使用规范</h3>
    5.1 使用大头蒜，您可以按照大头蒜的规则上传、添加、发布各种商品、订单以及各类促销信息。但所发布之信息不得含有如下内容：<br>
    5.1.1 煽动抗拒、破坏宪法和法律、行政法规实施的；<br>
    5.1.2 煽动颠覆国家政权，推翻社会主义制度的；<br>
    5.1.3 煽动分裂国家、破坏国家统一的；<br>
    5.1.4 煽动民族仇恨、民族歧视，破坏民族团结的；<br>
    5.1.5 捏造或者歪曲事实，散布谣言，扰乱社会秩序的； <br>
    5.1.6 宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br>
    5.1.7 公然侮辱他人或者捏造事实诽谤他人的，或者进行其它恶意攻击的； <br>
    5.1.8 损害国家机关信誉的；<br>
    5.1.9 其它违反宪法和法律法规的。<br>
    5.2 在使用大头蒜的过程中，您不得从事下列行为：<br>
    5.2.1 发表、传送、传播、储存侵害他人知识产权、商业秘密权等合法权利的内容，包含病毒、木马、定时炸弹等可能对同城互助系统造成伤害或影响其稳定性的内容制造虚假身份以误导、欺骗他人；<br>
    5.2.2 传送或散布以其它方式实现传送含有受到知识产权法律保护的图像、相片、软件或其它资料的文件，作为举例（但不限于此）：包括版权或商标法（或隐私权或公开权），除非用户拥有或控制着相应的权利或已得到所有必要的认可； <br>
    5.2.3 使用任何包含有通过侵犯商标、版权、专利、商业机密或任何一方的其它专有权利的方式利用本“软件”获得的图像或相片的资料或信息；<br>
    5.2.4
    进行危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器/帐号；未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；未经许可，企图探查、扫描、测试本平台系统或网络的弱点或其它实施破坏网络安全的行为；企图干涉、破坏本平台系统或网站的正常运行，故意传播恶意程序或病毒以及其它破坏干扰正常网络信息服务的行为；伪造TCP/IP数据包名称或部分名称；<br>
    5.2.5 修改或伪造软件作品运行中的指令、数据、数据包，增加、删减、变动软件的功能或运行效果，不得将用于上述用途的软件通过信息网络向公众传播或者运营；<br>
    5.2.6 在未经易家互动书面明确授权前提下，出售、出租、出借、散布、转移或转授权软件和服务或相关的链接或从使用软件和服务或软件和服务的条款中获利，无论以上使用是否为直接经济或金钱收益；<br>
    5.2.7 违背大头蒜公布之活动规则，包括但不限于发布虚假信息、作弊或通过其它手段进行虚假交易。<br>
    5.3 <span class="red">您了解并同意，易家互动有权应政府部门（包括司法及行政部门）的要求，向其提供您在大头蒜填写的注册信息和发布纪录等必要信息。</span><br>
    5.4 在大头蒜上使用相应服务过程中，您承诺遵守以下约定：<br>
    5.4.1
    在使用大头蒜过程中实施的所有行为均遵守国家法律、法规等规范文件及同城互助平台各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保易家互动免于因此产生任何损失；<br>
    5.4.2 不发布国家禁止发布的信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的信息，不发布违背社会公共利益或公共道德、公序良俗的信息，不发布其它涉嫌违法或违反本协议及各类规则的信息；<br>
    5.4.3 不对大头蒜上的任何数据作商业性利用，包括但不限于在未经易家互动事先书面同意的情况下，以复制、传播等任何方式使用大头蒜上展示的资料；<br>
    5.4.4 不使用任何装置、软件或例行程序干预或试图干预大头蒜的正常运作或正在大头蒜上进行的任何活动。您不得采取任何将导致不合理的庞大数据负载加诸大头蒜网络设备的行动。<br>
    5.5 您了解并同意,您违反上述承诺时，易家互动有权依据本协议的约定，做出相应处理或终止向您提供服务，且无须征得您的同意或提前通知予您:<br>
    5.5.1 根据相关法令的指定或者大头蒜服务规则的判断，您的行为涉嫌违反法律法规的规定或违反本协议和/或规则的条款的，易家互动有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、降低您的信用值或直接停止提供服务；<br>
    5.5.2
    对于您在大头蒜上实施的行为，包括您未在大头蒜上实施但已经对大头蒜及其用户产生影响的行为，易家互动有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并据此采取相应的处理措施。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果；<br>
    5.5.3 对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保易家互动免于承担因此产生的损失或增加的费用；<br>
    5.5.4 如您涉嫌违反有关法律或者本协议之规定，使易家互动遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿易家互动因此造成的损失及（或）发生的费用，包括合理的律师费用。<br>
    <br>
    <h3 class="strong">六、责任范围和责任限制</h3>
    6.1
    易家互动负责向您提供大头蒜。但易家互动对大头蒜不作任何明示或暗示的保证，包括但不限于大头蒜的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，易家互动也不对大头蒜所涉及的技术及信息的有效性、准确性、正确性、可靠性、稳定性、完整性和及时性作出任何承诺和保证。<br>
    6.2 <span class="red">您理解并接受：大头蒜作为商品、订单等信息发布、管理、服务平台，无法控制每条信息内容的真实性或准确性。您应自行谨慎判断确定相关信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。任何信息资料，取决于用户自己并由其承担系统受损或资料丢失的所有风险和责任。</span><br>
    6.3 您同意在发现本软件任何内容不符合法律规定，或不符合本用户协议规定的，您有义务及时通知易家互动（<a href="tel:028-85800548">028-85800548</a>、<a
        href="mailto:dts@i-jia.net">dts@i-jia.net</a>）。如果您发现您的个人信息被盗用，或者您的版权或者其它权利被侵害，请将此情况告知易家互动并同时提供如下信息和材料：<br>
    6.3.1 侵犯您权利的信息的截图，编号或其它可以找到该信息的细节；<br>
    6.3.2 您是所述的版权或者其它权利的合法拥有者的权利证明；<br>
    6.3.3 您的联系方式，包括联系人姓名，地址，电话号码和电子邮件；<br>
    6.3.4 您的身份证复印件、营业执照等其它相关资料。<br>
    经审查得到证实的，我们将及时删除相关信息。我们仅接受邮寄、电子邮件或传真方式的书面侵权通知。情况紧急的，您可以通过客服电话先行告知，我们会视情况采取相应措施。<br>
    6.4 您了解并同意，易家互动不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿：<br>
    6.4.1 使用或未能使用大头蒜；<br>
    6.4.2 第三方未经批准的使用您的账户或更改您的数据；<br>
    6.4.3 <span class="red">使用大头蒜浏览、搜索、添加信息而产生的费用及损失；</span><br>
    6.4.4 您对大头蒜的误解；<br>
    6.4.5 任何非因易家互动的原因而引起的与大头蒜有关的其它损失。<br>
    6.5
    易家互动对下列不可抗力行为免责：信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其它系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务。<br>
    6.6 <span class="red">大头蒜及易家互动，不对用户任何线下行为负责，任何因为浏览、搜索大头蒜提供的信息而产生的费用、损失及伤害，由用户自行承担，请您谨慎对待任何线下行为活动。</span><br>
    6.7 您应当严格遵守本协议及大头蒜发布的其它协议、活动规则，因您违反协议或规则的行为给第三方、或大头蒜造成损失的，您应当承担全部责任。<br>
    <br>
    <h3 class="strong">七、协议终止</h3>
    7.1
    您同意，易家互动基于平台服务的安全性，有权中止向您提供部分或全部大头蒜服务，暂时冻结您的账户，待安全问题解决后及时恢复，并对中止、冻结及恢复的事实及时通知。如果软件的安全问题是由于您的违法行为引起，易家互动有权终止向您提供部分或全部大头蒜服务，永久冻结（注销）您的帐户，并有权向您对损失进行索赔。<br>
    7.2
    您有权向易家互动要求注销您的账户，经审核同意后，大头蒜注销您的账户，届时，您与大头蒜基于本协议的合同关系即终止。您的账户被注销后，易家互动没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。<br>
    7.3 您同意，您与大头蒜的协议关系终止后，易家互动仍享有下列权利：<br>
    7.3.1 继续保存您未及时删除的注册信息及您使用大头蒜期间发布的所有信息至法律规定的记录保存期满。<br>
    7.3.2 您在使用大头蒜期间存在违法行为或违反本协议和/或规则的行为的，易家互动仍可依据本协议向您主张权利。<br>
    <br>
    <h3 class="strong">八、隐私权政策</h3>
    8.1 易家互动将在大头蒜上公布并不时修订隐私权政策，隐私权政策构成本协议的有效组成部分。<br>
    8.2
    你知悉并认可：易家互动可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与本软件同等的保护用户隐私的责任，则易家互动有权将用户的注册资料等提供给该第三方。另外，在不透露单个用户隐私资料的前提下，易家互动有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。<br>
    8.3 为保护您的个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。对此您表示理解和认同。<br>
    8.4 大头蒜使用Cookie来帮助您实现您的联机体验的个性化。Cookie
    是由网页服务器存放在您的移动终端或硬盘的文本文件。这样可以简化记录您的个人信息，当您下次使大头蒜时，系统会自动调出您以前发布或浏览的信息，使您的使用变得更加便捷和高效。<br>
    8.5 易家互动可能使用您在大头蒜上的使用行为，根据您的兴趣喜好，在您浏览其它网站或使用其它APP软件时有可能展现您的兴趣相关的易家互动提供的推广内容。<br>
    <br>
    <h3 class="strong">九、法律适用、管辖与其它</h3>
    9.1 本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。<br>
    9.2
    因本协议产生之争议，应依照中华人民共和国法律予以处理，并以成都高新技术产业开发区人民法院为第一审管辖法院，按照中华人民共和国法律，因级别管辖的规定，成都高新技术产业开发区人民法院无权管辖的，以其上级法院作为第一审管辖法院。(全文完)

    <div style="clear: both;width: 100%;height: 30px">
        <p class="end"><a href="http://www.i-jia.net/">成都易家互动信息技术有限公司</a></p>
    </div>
</div>
</body>
</html>
